body, header, nav, .my_job, .box_image, .box_text, .footer{
    margin: 0.2%;
    padding: 0.2%;
    border: solid 1px gold;
}
body {
    background: linear-gradient(to right, #000000, #4b4949 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: ivory; /* couleur de la police  */
}
header{
    border: solid 1px hotpink;
    padding: 0.5%;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: solid 1px royalblue;
    padding: 0.5%;
}
button {
    /* display: inline-block; */
    background-color: #7b38d8;
    border-radius: 10px;
    /* border: 4px double #cccccc; */
    color: #eeeeee;
    text-align: center;
    /* font-size: 28px; */
    padding: 20px;
    width: 150px;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
button: hover{
    
}
.my_job{
    border: solid 1px gold;
    padding: 0.5%;
    /* font-size: 200%; */
    text-align: center;
}
.conteneur{
    display: grid;
    /* background-color: blue;*/
    margin-top: 5px;
    margin-bottom: 10px;
    grid-template-columns: 20% 40% 40%;
}
.box_image{
    height: 100%;
    width: 100%;
    text-align: center;
}
.box_text{
    height: 100%;
    /* background-color: aqua; */ 
}

/* img:hover{ */
    /* opacity: 0.5; */
/* } */
a:hover{
    color: deeppink;
    text-decoration: underline;
}
.competences{
    justify-content: space-around;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 1%;
}
.boxs_in_box_1{
    text-align: right;
    /*border: 1px solid;*/
    display: grid;
}
.boxs_in_box_2{
    /* border: 1px solid;*/
    display: grid;
    text-align: center;
}
h2:focus {
    background-color: #1d313f;
    color:white;
    outline-color: deeppink;
}
p {
    color: red;
    font-family: Courier;
    font-size: 160%;
}
.box_2_columns{
    font-size: smaller;
    display: grid;
    flex-direction: row;
    grid-template-columns: 70% 30%;
}